.perfil {
    object-fit: cover;
    clip-path: circle(50% at 50% 50%);
    width: 250px;
    z-index: -1;
}

.sobre {
    width: 100%;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: 40px;
}

.bio {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-bottom: 1.5rem;
}

.bio span {
    color: var(--red);
    font-weight: bold;
}

.bio strong {
    color: var(--secondary);
    font-weight: bold;
}

.textos h2, p {
    margin-bottom: 1rem;
}

.techs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.icones {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 4rem;
}

.icones img {
    height: 50px;
}

/* tablet */
@media (max-width: 768px) {
    .perfil {
        width: 30%;
    }

    .bio {
        flex-direction: column;
        gap: 1rem;
        padding-inline: 20px;
    }

    .icones {
        gap: 1rem;
    }
}

/* mobile */
@media (max-width: 480px) {
    .perfil {
        width: 50%;
    }

    .bio {
        gap: 0.5rem;
    }

    .icones {
        gap: 1rem;
    }

    .icones img {
        height: 40px;
    }
}