.page404 {
    width: 100%;
    min-height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.titulo2 {
    padding-top: 2rem;
    text-align: center;
}

.textos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.texto_grande, .texto_vermelho {
    font-size: 300px;
    color: var(--red);
    font-weight: bold;
}

.texto_vermelho {
    font-size: 2rem;
}

/* tablet */
@media (max-width: 768px) {
    .texto_grande {
        font-size: 200px;
    }

    .texto_vermelho {
        font-size: 2rem;
    }
}

/* mobile */
@media (max-width: 480px) {
    .titulo2 {
        font-size: 1.2rem;
    }
    .texto_grande {
        font-size: 150px;
    }

    .texto_vermelho {
        font-size: 1.3rem;
    }
}
